@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* @font-face {
    font-family: 'RobotoMono-SemiBold';
    src: url('/fonts/RobotoMono-SemiBold.ttf') format('ttf');
    font-weight: 'semi-bold';
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMono-Bold';
    src: url('/fonts/RobotoMono-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
} */

body {
    margin: 0;
    font-family: RobotoMono;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.word {
    padding: 0px 8px;
    display: inline-block;
    position: relative;
    pointer-events: none;
    line-height: 1em;
}
/* var(--error-color) */
.word.typed.error {
    border-bottom: 2px dashed red;
}

.incorrect-word {
    position: absolute;
    top: -25px;
    left: 0px;
    padding: 0px 8px;
    display: inline-block;
    font-size: 16px;
    color: red;
    pointer-events: none;
}
.incorrect-word span {
    width: 20px;
    text-align: center;
    display: inline-block;
    pointer-events: none;
}

.letter {
    width: 20px;
    text-align: center;
    display: inline-block;
    pointer-events: none;
}

.letter.correct {
    color: #99f6e4;
}
.incorrect.extra {
    opacity: 0.5;
}
.incorrect.extra,
.letter.incorrect {
    color: red;
}
#caret {
    height: 1em;
    animation: caretFlashSmooth 1s infinite;
    position: absolute;
    border-radius: var(--roundness);
    transform-origin: top left;
    width: 0.1em;
    animation-name: caretFlashSmooth;
    opacity: 1;
    font-size: 2rem;
    display: block;
    top: 12.5px;
    left: 7px;
}

@keyframes caretFlashSmooth {
    0%,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes caretFlashHard {
    0%,
    50% {
        opacity: 1;
    }

    51%,
    to {
        opacity: 0;
    }
}
